.card {
  padding-bottom: 4.6rem;
  box-shadow: 0px 2px 8px 0px var(--shadow-black);
}

.screenshot-wrapper {
  font-size: 2.5rem;
  height: 19.4rem;
  display: flex;
  place-content: center;
  place-items: center;
  background-color: var(--v-dark-cyan);
  color: var(--white);
}

.img {
  object-fit: cover;
  box-shadow: 0 2px 3px -2px var(--shadow-black);
  height: 100%;
}

.card-middle {
  display: flex;
  align-items: center;
  margin-top: 0.8rem;
  gap: 0.5rem;
}

.h3 {
  font-size: 1.45rem;
  font-weight: 500;
  margin-left: 2rem;
}

.links,
.links > a {
  display: flex;
}

.links {
  gap: 1rem;
  margin-left: auto;
  margin-right: 1.4rem;
}

.links > a {
  font-size: 1.6rem;
}

.description {
  font-size: 1.24rem;
  color: var(--v-dark-gray);
  padding: 1.1rem 1.6rem;
  line-height: 1.17;
}

@media (min-width: 50rem) {
  .card {
    padding-bottom: 3.1rem;
  }

  .screenshot-wrapper {
    height: 13.88rem;
  }

  .card-middle {
    margin-top: 0.49rem;
  }

  .h3 {
    font-size: 1.3rem;
    margin-left: 1.3rem;
  }

  .description {
    font-size: 1rem;
    padding: 0.7rem 1.2rem;
  }
}

@media (min-width: 66rem) {
  .card {
    padding-bottom: 3.7rem;
  }

  .screenshot-wrapper {
    height: 16.5rem;
  }

  .card-middle {
    margin-top: 1rem;
  }

  .h3 {
    font-size: 1.35rem;
    margin-left: 1.5rem;
  }

  .description {
    font-size: 1.2rem;
    padding: 0.8rem 1.5rem;
  }
}
